<div class="cell shrink">
    <div class="callout" style="height: 100%">
        <p class="text-center">{{name}}</p>
        <p><img src="/images/{{imageName}}" class="radius" alt="Image of {{name}}"></p>
        <p class="text-center">{{technologies}}</p>
        <p>{{description}}</p>
        <p>Repository: {{repoLink}}</p>
        <p>Deployed Link: {{deployedLink}}</p>
    </div>
</div>