<div class="cell">
    <div class="callout">
        <p class="text-center">{{name}}</p>
        <p><img src="/images/{{imageName}}" alt="Image of {{name}}"></p>
        <p class="text-center">{{technologies}}</p>
        <p>{{description}}</p>
        <p>Repository: {{repoLink}}</p>
        <p>Deployed Link: {{deployedLink}}</p>
    </div>
</div>